<div class="gallery-container">
    {% for collection in gallery %}
    <div class="collection-container">
        <h2 class="text-center">{{ collection.name }}</h2>
        <div class="row photo-grid">
            {% for photo in collection.photos.all %}
            <div class="col-lg-6 col-md-6 col-6">
                <div class="photo">
                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="full-screen-trigger">
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="collection-divider"></div>
    </div>
    <div class="collection-divider"></div>
    {% endfor %}
</div>

<div id="modal-container" class="modal-container">
    <span class="close-btn" id="close-btn">&#10007;</span>
    <div id="modal-content" class="modal-content">
        <img src="" alt="" id="modal-image">
        <span class="prev-btn" id="prev-btn">&#8592;</span>
        <span class="next-btn" id="next-btn">&#8594;</span>
    </div>
</div>
