<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>
<body>


<header>
    <div class="menu-icon" id="menuIcon" onclick="toggleMenu()">
        <span style="margin-left: -35px;">&#9776;</span>
    </div>

    <div class="left-btn-container">
    </div>

    <a href="{% url 'main:main' %}" class="header-link logo">
        <p>grace lab</p>
    </a>

    <div class="right-btn-container">
    </div>
</header>

<div id="overlay">
    <header></header>
    <div class="menu-footer">{% include 'footer.html' %}</div>
</div>

<script src="{% static 'js/header.js' %}"></script>

</body>
</html>
