<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRACE LAB</title>
    <meta name="description" content="Салон красоты Grace Lab. Окрашивание волос, стрижки, маникюр, педикюр и другие услуги от опытных мастеров. м. Народное ополчение.">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">
</head>

<body>
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(97879141, "init", {
             clickmap:true,
             trackLinks:true,
             accurateTrackBounce:true,
             webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/97879141" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
    <div class="hero-section">
        <img src="{% static 'img/background.jpg' %}" alt="Background" class="full-screen-image">
        <div class="hero-content">
            <h1 style="font-size: 70px;">GRACE LAB</h1>
            <p style="font-size: 30px;">салон красоты</p>
            <img id="arrow-down" src="{% static 'img/arrow.png' %}" alt="Arrow Down">
        </div>
    </div>

    <div class="container">
        <p style="font-size: 30px;">
            О нас
        </p>
        <p>
            Добро пожаловать в наше уютное пространство красоты, где каждая деталь наполнена комфортом и заботой о вашей красоте.
        </p>
        <p>
            Наши опытные мастера с радостью предложат вам индивидуальный подход и профессиональный уход с использованием средств от лучших мировых производителей.
        </p>
    </div>

    <div class="divider"></div>
    
    <div class="gallery">
        {% include 'gallery.html' %}
    </div>

    <div class="container">
        <p>Больше работ смотрите в нашем <a href="https://www.instagram.com/grace_lab_msk?igsh=bmZ4MnBuaTVkajcw" class="link">Instagram</a></p>
    </div>
    
    <div class="divider"></div>
    
    <div class="price-container">
        <p style="font-size: 30px; font-family: Copperplate;">Услуги</p>
    <div class="row justify-content-center">

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                    <img class="card-img-top" src="{% static 'img/price_hair.jpeg' %}">
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                    <img class="card-img-top" src="{% static 'img/price_nails.jpeg' %}">
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                    <img class="card-img-top" src="{% static 'img/price_brows.jpeg' %}">
            </div>
        </div>

    </div>
    </div>
    
    <div class="divider"></div>

    <div class="team-gallery-container">
        <div class="team-collection-container">
            <h2 class="text-center">Наша команда</h2>
            <div class="row team-photo-grid">

                <div class="team-member" style="margin-bottom: 15px;">
                    <div class="team-photo">
                        <img src="{% static 'img/kris2.png' %}" class="full-screen-trigger">
                    </div>
                    <div class="info">
                        <p class="name">Кристина</p>
                        <p class="name" style="font-size: 12px; margin-top: -20px; color: gray;">Топ-стилист</p>
                        <div class="button" style="margin-top: -15px;">
                            <a class="button-link" data-id="1">подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="team-member" style="margin-bottom: 15px;">
                    <div class="team-photo">
                        <img src="{% static 'img/alexey.png' %}" class="full-screen-trigger">
                    </div>
                    <div class="info">
                        <p class="name">Алексей</p>
                        <p class="name" style="font-size: 12px; margin-top: -18px; color: gray;">Топ-стилист</p>
                        <div class="button" style="margin-top: -15px;">
                            <a class="button-link" data-id="2">подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="team-member" style="margin-bottom: 15px;">
                    <div class="team-photo">
                        <img src="{% static 'img/ksenia.png' %}" class="full-screen-trigger">
                    </div>
                    <div class="info">
                        <p class="name">Ксения</p>
                        <p class="name" style="font-size: 12px; margin-top: -20px; color: gray;">Мастер ногтевого сервиса</p>
                        <div class="button" style="margin-top: -15px;">
                            <a class="button-link" data-id="3">подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-photo">
                        <img src="{% static 'img/kris1.png' %}" class="full-screen-trigger">
                    </div>
                    <div class="info">
                        <p class="name">Кристина</p>
                        <p class="name" style="font-size: 12px; margin-top: -20px; color: gray;">Мастер-бровист</p>
                        <div class="button" style="margin-top: -15px;">
                            <a class="button-link" data-id="4">подробнее</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="team-modal" class="team-modal">
        <div class="team-modal-content">
            <div class="team-modal-body">
                <img id="team-modal-image" src="" alt="">
                <p class="team-name" id="modal-name"></p>
                <p class="team-spec" id="modal-spec"></p>
                <div id="team-modal-text"></div>
            </div>
            <a class="team-close">&#8592;</a>
        </div>
    </div>

    <div class="map-container">
        <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=32417952933" width="" height="400" frameborder="0"></iframe>
    </div>

    {% include 'about.html' %}

    <script>
        const teamMembers = [
            { id: 1, img: '{% static "img/kris2.png" %}', name: 'Кристина', spec: 'топ-стилист', textFile: '{% static "texts/kris2.txt" %}' },
            { id: 2, img: '{% static "img/alexey.png" %}', name: 'Алексей', spec: 'топ-стилист', textFile: '{% static "texts/alexey.txt" %}' },
            { id: 3, img: '{% static "img/ksenia.png" %}', name: 'Ксения', spec: 'мастер ногтевого сервиса', textFile: '{% static "texts/ksenia.txt" %}' },
            { id: 4, img: '{% static "img/kris1.png" %}', name: 'Кристина', spec: 'мастер-бровист', textFile: '{% static "texts/kris1.txt" %}' }
        ];
    </script>
    <script type="text/javascript" src="https://w1160048.yclients.com/widgetJS" charset="UTF-8"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/gallery.js' %}"></script>
    <script src="{% static 'js/team.js' %}"></script>
</body>
<div class="footer">
    {% include 'footer.html' %}
</div>
</html>
