<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <title>GRACE LAB</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/x-icon"></head>
{% include 'header.html' %}
<body>

<div class="container" style="font-size: 15px;">
    <p>{{ offer.text|safe }}</p>
</div>

<script type="text/javascript" src="https://w1160048.yclients.com/widgetJS" charset="UTF-8"></script>


</body>
{% include 'footer.html' %}
</html>
